body {
  background-image: url(Images/AboutMePicture.jpg);
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;


}
h1 {
  color: black;
  font-size: 30px;
  font-family: helvetica;
  font-weight: bold;
  padding-left: 600px
}

h2 {
  color: black;
  font-size: 10px;
  font-family: helvetica;
  font-weight: normal;
  padding-left: 600px

}

p {
  font-size: 12px;
  font-family: helvetica;
  padding-left: 600px
  padding-right: 60px;

}